<div *ngIf="!buscador" class="card-columns m-5 animated fadeIn">

  <div (click)="verArtista( item.artist.name )" *ngFor="let item of items" class="card puntero">  
      <img class="card-img-top" [src]="item.image[3]['#text']" alt="Card image cap">    
      <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">
              <span class="badge badge-pill badge-primary">
                  {{ item.artist.name }}
              </span>
          </p>
      </div>
  </div>

</div>

<div *ngIf="buscador" class="card-columns m-5 animated fadeIn">

    <div (click)="verArtista( item.name )" *ngFor="let item of items" class="card puntero">  
        <img class="card-img-top" [src]="item.image[3]['#text']" alt="Card image cap">    
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
        </div>
    </div>
  
  </div>